<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>

    <fieldset>
        <legend>Add a Product</legend>
        <form action="/products/AddedProduct" method="POST">
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="Name">
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <input type="text" name="Category">
                    </td>
                </tr>
                <tr>
                    <td>Sku</td>
                    <td>
                        <input type="text" name="SKU">
                    </td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
</body>
</html>
